@page "/Gastos"
<h3>Gastos</h3>

<div class="container-sm d-flex justify-content-evenly align-items-lg-start">
    <!--Tabla de Gastos-->
    <div class="m-4 d-flex row responsive" style="width:25rem">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Monto</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Gastos)
                {
                    <tr >
                        <td>@i.Fecha</td>
                        <td>@i.Categoria?.Categoria</td>
                        <td>@i.Descripcion</td>
                        <th scope="row">@i.Monto</th>
                        <button @onclick="()=>Eliminar(i)" class=" btn alert-danger ">Eliminar</button>
                    </tr>


                }
            </tbody>
            
            
        </table>
        <label style="font-size: 35px"> Total: $@(request.Total +@Gastos.Sum(i => i.Monto))</label>
    </div>

    <!--Formulario Crear Ingreso-->
    <div class="m-4 d-flex">

        <div class="container-sm p-4" style="width:25rem; border-color:lightgray; border-style:solid; border-radius:5%">
            <h3 class="text-lg-center mb-4">Agregar Gasto</h3>

            <EditForm Model="request" OnValidSubmit="enviar">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @ErrorMessage
                    </div>
                }
                <div class="input-group">
                    <div class="mb-3 input-group">
                        <label class="input-group-text">Monto</label>
                        <InputNumber TValue="decimal" class="form-control" @bind-Value="request.Monto"/>
                    </div>
                    <div class="mb-3 input-group">
                        <label class="input-group-text">Categoria</label>
                        <select class="form-control" @bind="request.CategoriaId">
                            <option disabled>Selecciona una Categoria</option>
                            @foreach (var i in Categorias)
                            {
                                <option value="@i.Id">
                                    @i.Categoria
                                </option>
                            }
                        </select>
                    </div>
                    <div class="mb-3 input-group">
                        <label class="input-group-text">Descripcion</label>
                        <InputText class="form-control" @bind-Value="@request.Descripcion"></InputText>
                    </div>

                    <div class="mb-3 input-group">
                        <label class="input-group-text">Fecha</label>
                        <InputDate class="form-control" @bind-Value="@request.Fecha"></InputDate>
                    </div>

                    <div class="btn-group w-100">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {

    public GastoRequest request { get; set; } = new GastoRequest();
    public CategoriaDeGastoRequest Gastorequest { get; set; } = new CategoriaDeGastoRequest();
    public List<CategoriaDeGastoResponse> Categorias { get; set; } = new List<CategoriaDeGastoResponse>();
    public List<GastoResponse> Gastos { get; set; } = new List<GastoResponse>();
    public string ErrorMessage = "";



    public async Task enviar()
    {
        if (request.Id == 0)
        {

            var r = await GastoService.Crear(request);
            if (r.Success) 
            { 
                ErrorMessage = ""; 
                StateHasChanged();;
               await CargarGastos();
                Navegar.NavigateTo("/Gastos", true);
            }
            else ErrorMessage = r.Message;
            
        }
    }

    public async Task Eliminar(GastoResponse gasto)
    {
        var r = await GastoService.Eliminar(gasto.ToRequest());
        if (r.Success)
        {
            StateHasChanged();
            await CargarGastos();
        }
    }

    async Task CargarCategorias()
    {
        var r = await CategoriaDeGastoServices.Consultar();
        if (r.Success)
        {
            Categorias = r.Data!;
        }
    }

    async Task CargarGastos()
    {

        var r = await GastoService.Consultar();
        if (r.Success)
        {
            Gastos = r.Data!;
        }

    }

    protected override async Task OnInitializedAsync()
    {
        await CargarGastos();
        await CargarCategorias();
    }
}
